/* 음악 재생 버튼 */
.sound {
  position: relative;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  text-align: center;
  margin: 1.5rem 1rem 0;
  background-image: url("image/sound_on.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* 음악 중단 버튼 */
.stop {
  background-image: url("image/sound_off.png");
}